<a href="https://colab.research.google.com/github/Trey43123/MIS2800/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Type this code exactly as shown to intall the first library needed for SQLite3 to work using SQLite Magic
!pip install --upgrade pandas ipython-sql prettytable==3.10.1

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (3.0.0)
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Requirement already satisfied: prettytable==3.10.1 in /usr/local/lib/python3.12/dist-packages (3.10.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable==3.10.1) (0.5.3)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (2.0.46)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)

In [3]:
# Install the SQL extension. Remember to type exactly as shown here.
!pip install ipython-sql
print("ipython sql installed")

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (3.10.1)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (2.0.46)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable->ipython-sql) (0.5.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
ipython sql installed

In [4]:
# Load the SQL magic extension
%load_ext sql

In [5]:
#this code imports sqlite3 and prints a statement stating it has been imported
import sqlite3
print("sqlite3 imported")

sqlite3 imported

In [6]:
# This creates a brand-new, empty database file named 'AdCampaigns2026.db'
conn = sqlite3.connect('AdCampaigns2026.db')
print("database created")

database created

In [7]:
# This line is required so Colab stops acting like Python and acts more like a SQL database terminal
%sql sqlite:///AdCampaigns2026.db

#Fixed Mistakes

In [12]:
%%sql
CREATE TABLE Marketing_Brands (
  brand_id INTEGER PRIMARY KEY,
  brand_name TEXT,
  brand_type TEXT,
  brand_budget INTEGER
) STRICT;

 * sqlite:///AdCampaigns2026.db
(sqlite3.OperationalError) table Marketing_Brands already exists
[SQL: CREATE TABLE Marketing_Brands (
  brand_id INTEGER PRIMARY KEY,
  brand_name TEXT,
  brand_type TEXT,
  brand_budget INTEGER
) STRICT;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [14]:
%%sql
-- Clear the table first so we can rerun this cell without unique constraint errors
DELETE FROM Marketing_Brands;

-- Fixed: Added 'INTO Marketing_Brands' and removed underscores from the brand names
INSERT INTO Marketing_Brands (brand_id, brand_name, brand_type, brand_budget)
VALUES
  (1, 'Doritos', 'Snacks', 7000000),
  (2, 'AWS', 'Technology', 15000000),
  (3, 'Pepsi', 'Beverages', 2000000),
  (4, 'He Gets Us', 'Religious', 1000000),
  (5, 'Dr Pepper', 'Beverages', 5000000),
  (6, 'IBM', 'Technology', 100000),
  (7, 'Google', 'Technology', 8000000);

-- Query the table to verify the data
SELECT * FROM Marketing_Brands;

 * sqlite:///AdCampaigns2026.db
7 rows affected.
7 rows affected.
Done.

[(1, 'Doritos', 'Snacks', 7000000),
 (2, 'AWS', 'Technology', 15000000),
 (3, 'Pepsi', 'Beverages', 2000000),
 (4, 'He Gets Us', 'Religious', 1000000),
 (5, 'Dr Pepper', 'Beverages', 5000000),
 (6, 'IBM', 'Technology', 100000),
 (7, 'Google', 'Technology', 8000000)]

In [16]:
%%sql
SELECT * FROM Marketing_Brands;

 * sqlite:///AdCampaigns2026.db
Done.

[(1, 'Doritos', 'Snacks', 7000000),
 (2, 'AWS', 'Technology', 15000000),
 (3, 'Pepsi', 'Beverages', 2000000),
 (4, 'He Gets Us', 'Religious', 1000000),
 (5, 'Dr Pepper', 'Beverages', 5000000),
 (6, 'IBM', 'Technology', 100000),
 (7, 'Google', 'Technology', 8000000)]

In [17]:
%%sql
-- Fixed: Selected specific columns and added a filter for budget > 700,000
SELECT brand_name, brand_type
FROM Marketing_Brands
WHERE brand_budget > 700000;

 * sqlite:///AdCampaigns2026.db
Done.

[('Doritos', 'Snacks'),
 ('AWS', 'Technology'),
 ('Pepsi', 'Beverages'),
 ('He Gets Us', 'Religious'),
 ('Dr Pepper', 'Beverages'),
 ('Google', 'Technology')]

In [18]:
%%sql
-- Fixed: Added column selection and a WHERE clause to filter for 'Religious' brand types
SELECT brand_name, brand_type
FROM Marketing_Brands
WHERE brand_type = 'Religious';

 * sqlite:///AdCampaigns2026.db
Done.

[('He Gets Us', 'Religious')]

In [19]:
%%sql
-- Fixed: Selected brand_name and added a filter for budget < 1,000,000
SELECT brand_name
FROM Marketing_Brands
WHERE brand_budget < 1000000;

 * sqlite:///AdCampaigns2026.db
Done.

[('IBM',)]

In [20]:
%%sql
SELECT * FROM Marketing_Brands WHERE brand_budget > 7000000

 * sqlite:///AdCampaigns2026.db
Done.

[(2, 'AWS', 'Technology', 15000000), (7, 'Google', 'Technology', 8000000)]

In [21]:
%%sql
-- Block 8
-- Find the brands where the brand type is Snacks or Beverages. Display only the brand names.
SELECT brand_name
FROM Marketing_Brands
WHERE brand_type IN ('Snacks', 'Beverages');

 * sqlite:///AdCampaigns2026.db
Done.

[('Doritos',), ('Pepsi',), ('Dr Pepper',)]

In [23]:
%%sql
-- Block 9
-- Display only the brand_name and brand_budget, sorted by budget in descending order.
SELECT brand_name, brand_budget
FROM Marketing_Brands
ORDER BY brand_budget DESC;

 * sqlite:///AdCampaigns2026.db
Done.

[('AWS', 15000000),
 ('Google', 8000000),
 ('Doritos', 7000000),
 ('Dr Pepper', 5000000),
 ('Pepsi', 2000000),
 ('He Gets Us', 1000000),
 ('IBM', 100000)]

In [26]:
%%sql
-- Block 10
-- Show all columns, sorted by budget in ascending order
SELECT * FROM Marketing_Brands
ORDER BY brand_budget ASC;

 * sqlite:///AdCampaigns2026.db
Done.

[(6, 'IBM', 'Technology', 100000),
 (4, 'He Gets Us', 'Religious', 1000000),
 (3, 'Pepsi', 'Beverages', 2000000),
 (5, 'Dr Pepper', 'Beverages', 5000000),
 (1, 'Doritos', 'Snacks', 7000000),
 (7, 'Google', 'Technology', 8000000),
 (2, 'AWS', 'Technology', 15000000)]

#1. How did you fix the error in Block #1? Answer: The CREATE statement is missing the word TABLE, and the INSERT statement is missing INTO Marketing_Brands.

#2. How did you fix the error in Block #2? Answer: I added a line to clear the table before inserting so I could can run the cell multiple times without getting a Unique Constraint error.

#3. How did you fix the error in Block #3? Answer: you need to use an asterisk (*) after the SELECT keyword to tell the database you want to see all the columns in the table.

#4. How did you fix the error in Block #4? Answer: I updated the SQL to select only the brand_name and brand_type columns and added a WHERE clause to filter for budgets greater than 700,000.

#5. How did you fix the error in Block #5? Answer: I updated the SQL to select brands where the brand_type is 'Religious'.

#6. How did you fix the error in Block #6? Answer:  I updated the SQL to select only the brand_name column and added a WHERE clause to filter for budgets less than 1,000,000.

#7. How did you fix the error in Block #7? Answer:  I added the %%sql magic command at the beginning of the cell, which allows you to run SQL code.

#8. How did you fix the error in Block #8? Answer:  I updated the SQL query to select only the brand_name and used a WHERE clause with the IN operator to find brands that are either 'Snacks' or 'Beverages'.

#9. How did you fix the error in Block #9? Answer: I updated the SQL query to select only the brand_name and brand_budget columns and added an ORDER BY clause to sort the results from highest to lowest budget

#10. How did you fix the error in Block #10? Answer:  I added the SQL query to select all columns (*) and sorted the results by brand_budget in ascending order using ASC.